html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding-bottom: 50px;
}

.heading {
    background-color: #212121;

    padding: 8px 12px 0 12px;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.display,
.keypad {
    border: 1px solid #212121;
}

.display {
    text-align: end;
}

.heading,
#ans,
.row div {
    font-family: "Segoe UI";
    font-weight: 600;
    color: white;
}

#ans {
    font-size: 48px;
    
    background-color: #212121;
    margin: 0;
    padding: 18px 12px 12px 128px;
}

.keypad {
    display: flex;
    flex-direction: column;
    background-color: #212121;

    border-radius: 0 0 5px 5px;
}

.row,
.row div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div {
    flex: 1; 
    min-width: 0;

    font-size: 24px;

    padding: 18px 32px 18px 32px;
    margin: 2px;
}

.operations {
    background-color: #323232;
    border: 1px solid #323232;
    border-radius: 5px;
}

.nums,
.notation {
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 5px;
}

#equals {
    color: #212121;
    background-color: #07cbf7;
    border: 1px solid #07cbf7;
    border-radius: 5px;
}

.operations,
.nums,
.notation,
#equals {
    cursor: pointer;
    user-select: none;
}